body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body input {
    font-size: 18px;
}

a {
  color: #00B7FF;
}

.yaml-entity {
    padding-inline-start: 12px;
}
.yaml-obj {
    padding-inline-start: 12px;
    color: darkred;
    border-style: solid;
    border-color: lightred;
    border-width: 0 0 0 1px;
}

.yaml-arr {
    color: blue;
    padding-inline-start: 12px;
    border-style: solid;
    border-color: blue;
    border-width: 0 0 0 1px;
}

.yaml-border-hilite {
    border-width: 0 1px 0 2px;
}

.yaml-arr-elt-control {
    color: green;
    cursor: pointer;
    padding-left: 3px;
}
.yaml-obj-ent-control {
    color: green;
    cursor: pointer;
    padding-left: 3px;
}
.yaml-scalar-value-ctl {
    color: red;
    cursor: pointer;
    padding-right: 3px;
}
.yaml-arr-elt-mrk {
    padding-right: 3px;
}
.yaml-obj-val-mrk {
    padding-left: 2px;
}
.yaml-obj-ent-control > .red {
    color: red;
}
.yaml-status {
    cursor: default;
}
.yaml-number {
    display: inline;
}
.yaml-bool {
    display: inline;
}
.yaml-arr-elt {
}
.yaml-obj-key {
    color: darkred;
}
.yaml-obj-val {
    display: inline;
}
.yaml-obj-sc-val {
    display: inline;
}
.yaml-obj-sc-val > .yaml-ptext {
    color: blue;
}
.yaml-arr-elt > .yaml-ptext {
    color: salmon;
}
.yaml-comment-mrk {
    color: blue;
    font-style: italic;
}
.yaml-comment {
    color: lightblue;
    font-style: italic;
    display: block;
}
.yaml-item-comment {
    color: darkblue;
    font-style: italic;
    display: inline;
}
.yaml-scalar {
    display: inline;
}
               
