doctype html
html
  head
    title= yedit
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="javascripts/bundle.js")
  body
    block content
