extends layout

block content
  script(src="../actions.js" charset="utf-8")
  div#yaml-container
    div#yaml(data-node-id="container")
      span(class="yaml-comment yaml-doc-comment")
        span(class="yaml-comment-mrk")
        span(class="yaml-comment-content" data-comment-loc="before")
      span(class="insert-here")
      span(class="yaml-comment yaml-doc-comment")
        span(class="yaml-comment-mrk")
        span(class="yaml-comment-content" data-comment-loc="on")

  
